.projetos{
    width: 95%;
    padding-block: 2rem;
    text-align: center;
    box-shadow: 0px 0px 10px #5555554f;
    border-radius: 20px;
}

.projetos h2{
    text-align: center;
    text-transform: uppercase;
}

.listas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block: 1rem;
}