.sobre{
    width: 100%;
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 40px;
}

.bio{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
}

.textos h2, p{
    margin-bottom: 1rem;
    font-weight: 500;
}

span{
    color: var(--red);
    font-weight: 900;
}

.tech{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icones{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.icone{
    font-size: 4rem;
    color: var(--red);
}



img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .bio{
        flex-direction: column;
        padding-inline: 1.25rem;
        gap: 1.5rem;
    }

    .textos h2{
        text-align: center;
    }
}


@media (max-width: 480px) {
    .icones{
        gap: .5rem;
    }

    .icone{
        height: 40px;
    }
}